header {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
padding:20px;
font-size:25px;
}

